msvs_version=2019
registry=https://registry.npmjs.org/
python=C:\PythonSF\Python314\python.exe
init-author-email=${NPM_AUTHOR_EMAIL}
init-author-name=${NPM_AUTHOR_NAME}
init-license=MIT
install-strategy=shallow
package-lock=true
package-lock-only=false
save-prefix=~
save-prod=true
save-exact=true
update-notifier=true
//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
audit=false
fund=false
sign-git-tag=true
script-shell=C:\Git\bin\bash.exe
loglevel=notice